{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "90",
          "firefox": "95",
          "safari": "15",
          "edge": "90"
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ]
}

